{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mon profil</h2>
    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <button type="submit">Enregistrer</a> </button>
    <button><a href="{{ path('participants_create') }}">Annuler</a></button>
    {{ form_end(participantForm) }}



{% endblock %}